body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  color: #505962;
}

/* navbar section */

.nav-link {
  font: normal normal bold 17px/1.4em 'raleway',sans-serif;
}

.navbar {
  text-transform: uppercase;
  font-size: .9rem;
  letter-spacing: .1rem;
  /* background: rgba(0, 0, 0, .6); */
}

.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:hover {
  color: lightgrey;
}

/* .carousel-item {
  padding: 200px;
} */

#carouselExampleIndicators {
  margin: 100px;
}

/* .carousel-item {
  height: 100vh;
} */

.carousel-caption h1 {
  /* font: 'raleway',sans-serif; */
  text-transform: uppercase;
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}


/* test */

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

/* end of teset */

/* About me section */

.about-mateo {
  padding: 20px;
}

#mateo-info, #about-header {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  color: lightslategray;
}

#aboutMe {
background-color: aqua;
border: 5px;
padding: 20px;
}

.narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.offset:before {
  height: 4rem;
  margin-top: -4rem;
  content: "";
  display: block;
}

/* Portfolio section */

.jumbotron {
  border-radius: 0;
  padding: 3rem 0 2 rem;
}

.h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 1.9rem;
}

.heading-underline {
  width: 3rem;
  height: .2rem;
  background-color: aqua;
  margin: 0 auto 2rem;
}

/* Portfolio section */

.portfolio img {
  max-width: 100%;
  transition: transform .5s ease;
}

.row.no-padding [class*=col-] {
  padding: 0;
}

.portfolio img:hover {
  transform: scale(1.1);
  cursor: zoom-in;
}

.portfolio {
  overflow: hidden;
}

/* Footer section */

footer {
  background-color: #40474e;
  color: white;
  padding: 2rem 0 3rem;
  margin-top: 1rem;
  font-size: 14px;
}

hr.socket {
  border-top: .2rem solid #666b71;
  width: 100%;
}