body {
  font-family: 'Open Sans', sans-serif;
}

.nav-link {
  font: normal normal bold 20px/1.4em raleway,sans-serif;
}

/* .carousel-item {
  padding: 200px;
} */

#carouselExampleIndicators {
  margin: 100px;
}